.projects {
  min-height: 80vh;
  background: #f9f9f9;
  padding: 5rem 8%;
  text-align: center;
  color: #191919;
}

.projects h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  color: #191919;
}

.projects-desc {
  font-size: 1rem;
  color: #191919;
  margin-bottom: 2rem;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  }

.tabs button {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  padding: 0.6rem 1.2rem;
  border: 1px solid #f9f9f9;
  background: transparent;
  color: #191919;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.tabs button.active,
.tabs button:hover {
  background: #191919;
  color: #f9f9f9;
}

.tab-content {
  margin-top: 2rem;
}

/* Grid untuk Projects & Certificates */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.card {
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: 0.3s;
  text-align: left;
}

.card:hover {
  transform: translateY(-6px);
}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.card h3 {
  margin: 1rem;
  color: #191919;
}

.card p {
  text-align: justify;
  font-size: small;
  margin: 0 1rem 1rem;
  color: #444;
}

/* Tech Stack */
.techstack-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  color: #444;
}

.tech-item p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
}
