* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }  

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #0f172a;
  }
  
  * {
    box-sizing: border-box;
  }  

  html {
    scroll-behavior: smooth;
  }

  .loading-screen {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    color: #191919;
    font-size: 2rem;
    font-weight: bold;
    z-index: 9999;
    cursor: pointer; /* biar user tau bisa diklik */
  }
  
  .loading-text {
    margin-bottom: 10px;
  }
  
  .loading-sub {
    font-size: 1rem;
    font-weight: normal;
    opacity: 0.8;
  }
  
  /* animasi keluar */
  .zoom-blur-out {
    animation: zoomBlurOut 1s forwards;
  }
  
  @keyframes zoomBlurOut {
    0% {
      opacity: 1;
      transform: scale(1);
      filter: blur(0);
    }
    100% {
      opacity: 0;
      transform: scale(1.2);
      filter: blur(20px);
    }
  }
  
  /* animasi masuk */
  .zoom-in {
    animation: zoomIn 1s ease forwards;
  }
  
  @keyframes zoomIn {
    0% {
      opacity: 0;
      transform: scale(0.9);
      filter: blur(10px);
    }
    100% {
      opacity: 1;
      transform: scale(1);
      filter: blur(0);
    }
  }  